.btn {
    padding: 10px 8px;
    border-radius: 5px;
    font-size: medium;
}

.btn-primary {
    color: white;
    background-color: blue;
}

.btn:hover {
    color: black;
    background-color: white;
}